<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chesshero" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.chesshero.client.ChessHeroApplication"
        android:allowBackup="true"
        android:icon="@drawable/carche"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service
            android:name="com.chesshero.service.ServerCommunicationService"
            android:exported="false" />
        <!--
        <activity android:name=".ui.ClientTestActivity"
                  android:label="ClientTestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <activity
            android:name="com.chesshero.ui.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Entry for RegisterActivity.class -->
        <activity
            android:name="com.chesshero.ui.RegisterActivity"
            android:label="Register New Account" />

        <!-- Entry for PlayChessActivity.class -->
        <activity
            android:name="com.chesshero.ui.PlayChessActivity"
            android:label="Register New Account" />
        <activity
            android:name="com.chesshero.ui.LobbyActiviy"
            android:label="@string/title_activity_lobby_activiy" >
        </activity>
    </application>

</manifest>
